#header{
    background: #222426;
    color: white;

}

#brand-text{
    float: right;
     margin-top:0.85rem;
     font-weight: 500;
     
}

#branding h1{
    margin-top: 5px;
    font-size: 18px;
    color: white;
}

div.breadcrumbs {
    background: rgb(41, 37, 37);
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}
a:link,
a:visited{
    color: black;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: rgb(41, 37, 37);
    color: #fff;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
background: rgb(41, 37, 37);
}

.button.default, input[type=submit].default, .submit-row input.default{
    background: rgb(41, 37, 37);
}

.object-tools a:link, .object-tools a:visited{
    background: rgb(41, 37, 37);
    color: white;
}

a:link, a:visited {
    color: #0a0c0e;
    text-decoration: none;
}