{% load static%}
<footer class="footer-area section-padding-2 bg-bluegray pt-80">
    <div class="container-fluid">
        <div class="footer-top pb-40">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-widget mb-30">
                        <a href="#"><img src="{% static 'images/logo/OHEEB2.png'%}" alt="logo"></a>
                        <div class="footer-about">
                            <p class="text-light">OHEEB - Security and secure at Home</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-widget mb-30 ml-55">
                        <div class="footer-title-3">
                            <h3 class="text-light">Company</h3>
                        </div>
                        <div class="footer-list-3">
                            <ul >
                                <li><a   class="text-light" href="{% url 'about'%}">About US</a></li>
                                <li><a class="text-light" href="{% url 'monitor'%}">Monitor</a></li>
                                <li><a class="text-light" href="{% url 'desktop'%}">Desktop</a></li>
                                <li><a class="text-light" href="{% url 'camera'%}"> Ip Camera</a></li>
                                <li><a class="text-light" href="{% url 'motherboard'%}">Motherboard</a></li>
                                <li><a class="text-light" href="{% url 'accesspoint'%}">Access Point</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        
                <div class=" col-md-4 col-sm-6">
                    <div class="footer-widget mb-30 ml-135">
                        <div class="footer-title-3">
                            <h3 class="text-light" >Contact Us</h3>
                        </div>
                        <div class="footer-list-3">
                            <ul>
                                <li><a  class="text-light" href="#">Email: Support@classicmanda.com</a></li>
                                <li><a  class="text-light" href="#">Address: 3901 Dillion st, Baltimore, MD 21224, Maryland </a></li>
                                <li><a  class="text-light" href="#">Phone Number: +4432943559</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="copyright-3 text-center pt-20 pb-20 border-top-1">
                <p class="text-light">Copyright © <a class="text-light" href="#">Oheeb.com</a>. All Right Reserved</p>
            </div>
        </div>
    </div>
</footer>
</div>